@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Domain Pricing
7. Services
8. Boxes
9. Features
10. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	font-weight: 500;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.18;
	font-weight: 500;
	color: #92a4b8;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(146,164,184,0.55);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #2c2c2c;
	font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #92a4b8;
	margin-top: 0px;
}
.button
{
	width: 193px;
	height: 72px;
	border-radius: 36px;
	overflow: hidden;
}
.button::before
{
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 200%;
	height: 100%;
	content: '';
	background: linear-gradient(to right, #b632fa, #487fee, #b632fa);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}
.button:hover::before
{
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 72px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #020c22;
	z-index: 100;
}
.header::after
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, #487fee, #b632fa);
	content: '';
}
.header.scrolled
{
	background: rgba(2,12,34,0.9);
}
.header_content
{
	width: 100%;
	height: 101px;
}
.header.scrolled .header_content
{
	height: 70px;
}
.logo
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 71px;
}
.logo a
{
	font-size: 28.3px;
	font-weight: 700;
	color: #FFFFFF;
}
.logo a span
{
	color: #416ecc;
	text-transform: uppercase;
}
.main_nav
{
	padding-right: 17%;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 70px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	white-space: nowrap;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #497eee;
}
.header_right
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 69px;
}
.phone
{
	height: 43px;
	padding-left: 16px;
	padding-right: 20px;
	border-radius: 22px;
	background: linear-gradient(to right, #487fee, #b632fa);
}
.phone > div
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	white-space: nowrap;
}
.phone i
{
	display: block;
	color: #FFFFFF;
	font-size: 24px;
	margin-right: 7px;
}
.header_links
{
	margin-right: 60px;
}
.header_links ul li:not(:last-of-type)
{
	margin-right: 27px;
}
.header_links ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: rgba(255,255,255,0.36);
}
.header_links ul li a:hover
{
	color: #FFFFFF;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(255,255,255,0.2);
}
.hamburger i
{
	font-size: 20px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	left: 0;
	top: -100vh;
	background: #020c22;
	width: 100vw;
	height: 100vh;
	z-index: 99;
}
.menu.active
{
	top: 0;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_nav
{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-75px);
	-moz-transform: translateY(-75px);
	-ms-transform: translateY(-75px);
	-o-transform: translateY(-75px);
	transform: translateY(-75px);
	transition-delay: 400ms;
}
.menu.active .menu_nav
{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 3px;
}
.menu_nav ul li a
{
	font-size: 24px;
	color: #92a4b8;
}
.menu_nav ul li a:hover
{
	color: #FFFFFF;
}
.menu_phone
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 30px;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	background: linear-gradient(to right, #487fee, #b632fa);
}
.home_container
{
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
}
.home_content
{
	height: 382px;
	padding-top: 196px;
}
.home_image
{
	position: absolute;
	right: -97px;
	bottom: 0;
}
.home_image img
{
	max-width: 100%;
}
.home_title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.domain_search_container
{
	position: absolute;
	left: 0;
	bottom: -45px;
	width: 100%;
}
.domain_search
{
	padding: 10px;
	margin-top: 67px;
}
.domain_search_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #487fee, #b632fa);
	opacity: 0.33;
	border-radius: 45px;
	z-index: 1;
}
.domain_search_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.1;
	border-radius: 45px;
	z-index: 0;
}
.domain_search_form
{
	display: block;
	position: relative;
	width: 100%;
	z-index: 2;
}
.domain_search_input
{
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-left: 58px;
	border-radius: 35px;
	font-size: 18px;
	font-weight: 500;
	color: #232323;
}
.domain_search_input::-webkit-input-placeholder
{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #6b6b6b !important;
}
.domain_search_input:-moz-placeholder
{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #6b6b6b !important;
}
.domain_search_input::-moz-placeholder
{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #6b6b6b !important;
} 
.domain_search_input:-ms-input-placeholder
{ 
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #6b6b6b !important;
}
.domain_search_input::input-placeholder
{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #6b6b6b !important;
}
.domain_search_dropdown
{
	position: absolute;
	top: 0;
	right: 0;
	width: 319px;
	height: 70px;
	border-radius: 35px;
	background: #ece3fd;
	padding-right: 193px;
	cursor: pointer;
	z-index: 1;
}
.domain_search_selected
{
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}
.domain_search_dropdown ul
{
    position: absolute;
    left: 0;
    top: 100%;
    padding-left: 19px;
    background: #FFFFFF;
    width: 126px;
    visibility: hidden;
    opacity: 0;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.domain_search_dropdown.active ul
{
	visibility: visible;
	opacity: 1;
}
.domain_search_dropdown ul li
{
	font-size: 18px;
	font-weight: 500;
	color: #6b6b6b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.domain_search_dropdown ul li:not(:last-of-type)
{
	margin-bottom: 8px;
}
.domain_search_dropdown ul li:hover
{
	color: #000000;
}
.domain_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 193px;
	height: 70px;
	background: linear-gradient(to right, #487fee, #b632fa);
	border: none;
	outline: none;
	border-radius: 35px;
	z-index: 2;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
}

/*********************************
6. Domain Pricing
*********************************/

.domain_pricing
{
	margin-top: 60px;
}
.domain_pricing_content
{
	background: #FFFFFF;
	padding-left: 61px;
	padding-right: 61px;
	border-radius: 50px;
}
.domain_pricing_content ul
{
	width: 100%;
}
.domain_pricing_content ul li a > span:first-of-type
{
	font-size: 30px;
	font-weight: 600;
	color: #03dd03;
}
.domain_pricing_content ul li a > span:last-of-type
{
	font-size: 18px;
	margin-left: 23px;
	color: #808080;
}
.domain_pricing_content ul li a
{
	font-size: 24px;
	font-weight: 700;
}
.domain_pricing_content ul li:first-of-type a
{
	color: #005cc3;
}
.domain_pricing_content ul li:nth-child(2) a
{
	color: #a736df;
}
.domain_pricing_content ul li:nth-child(3) a
{
	color: #fa9900;
}
.domain_pricing_content ul li:nth-child(4) a
{
	color: #df36b9;
}
.domain_pricing_content ul li:nth-child(5) a
{
	color: #242424;
}

/*********************************
7. Services
*********************************/

.services
{
	background: #FFFFFF;
	padding-top: 96px;
	padding-bottom: 110px;
}
.icon_boxes_row
{
	margin-top: 91px;
}
.icon_boxes_row > div[class^='col']:nth-last-child(n+4)
{
	margin-bottom: 66px;
}
.ib_icon
{
	width: 58px;
	height: 58px;
}
.ib_icon img
{
	max-width: 100%;
}
.ib_title
{
	padding-left: 35px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 700;
	color: #2c2c2c;
}
.ib_text
{
	margin-top: 15px;
}
.services_button
{
	margin-top: 97px;
}

/*********************************
8. Boxes
*********************************/

.boxes
{
	width: 100%;
}
.boxes .container
{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.boxes .row
{
	margin-left: 0;
	margin-right: 0;
}
.boxes div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}
.boxes_image
{
	width: 100%;
	height: 100%;
}
.boxes_content
{
	width: 100%;
	background: #ecf1f5;
	padding-top: 132px;
	padding-bottom: 107px;
	padding-left: 179px;
	padding-right: 229px;
}
.boxes_text
{
	margin-top: 41px;
}
.accordions
{
	margin-top: 41px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 6px;
}
.accordion
{
	height: 50px;
	width: 100%;
	background: linear-gradient(to right, #487fee, #b632fa);
	padding-left: 25px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	line-height: 50px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active
{
	background: #020b1f;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 34px;
	height: 100%;
	content: '+';
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	content: '-';
	color: #FFFFFF;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 20px;
}
.accordion_panel p
{
	padding-top: 28px;
}

/*********************************
9. Features
*********************************/

.features
{
	background: #FFFFFF;
	padding-top: 108px;
	padding-bottom: 144px;
}
.features_content
{
	
}
.feature:not(:last-child)
{
	margin-bottom: 59px;
}
.feature_icon
{
	width: 58px;
	height: 58px;
}
.feature_icon img
{
	max-width: 100%;
}
.feature_content
{
	padding-left: 33px;
}
.feature_title
{
	font-size: 18px;
	font-weight: 600;
	color: #2c2c2c;
	line-height: 1.2;
	margin-top: 7px;
}
.feature_text
{
	margin-top: 17px;
}
.extra
{
	width: 100%;
	height: 100%;
	border: solid 25px #ecf1f5;
}
.extra_image
{
	
}
.extra_content
{
	padding-left: 50px;
	padding-right: 15px;
	transform: translateY(-56px);
}
.extra_title
{
	font-size: 18px;
	font-weight: 600;
	color: #2c2c2c;
	line-height: 1.2;
	margin-top: 12px;
}
.extra_title span
{
	font-size: 36px;
}
.extra_text
{
	margin-top: 14px;
}
.extra_button
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -56px;
}

/*********************************
10. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	width: 100%;
}
.footer_phone
{
	position: absolute;
	left: 0;
	top: -44px;
	height: 104px;
	width: 816px;
	border-top-right-radius: 57px;
	border-bottom-right-radius: 57px;
	background: linear-gradient(to right, #487fee, #b632fa);
	z-index: 1;
	padding-right: 56px;
}
.footer_phone > div:first-of-type
{
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	margin-right: 46px;
	line-height: 0.75;
}
.footer_phone > div:last-of-type
{
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 0.75;
}
.footer_phone > div:last-of-type i
{
	font-size: 31px;
	margin-right: 20px;
}
.footer_content
{
	background: #21263a;
	padding-top: 149px;
	padding-bottom: 51px;
}
.footer_title
{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.footer_list
{
	padding-left: 28px;
	margin-top: 49px;
}
.footer_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
}
.footer_list ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #92a4b8;
}
.footer_list ul li a:hover
{
	color: #FFFFFF;
}
.footer_logo
{
	position: relative;
	top: auto;
	left: auto;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	line-height: 0.75;
}
.footer_info
{
	margin-top: 62px;
}
.footer_info ul li:not(:last-of-type)
{
	margin-bottom: 24px;
}
.footer_info ul li > div:first-of-type > div
{
	width: 95px;
}
.footer_info ul li > div:last-of-type
{
	font-size: 14px;
	font-weight: 500;
	color: #8696aa;
	line-height: 1.714;
}
.cards
{
	margin-top: 47px;
}
.cards ul li
{
	width: 34px;
	height: 22px;
}
.cards ul li a
{
	display: block;
	width: 100%;
	height: 100%;
}
.cards ul li a img
{
	max-width: 100%;
}
.cards ul li:not(:last-of-type)
{
	margin-right: 7px;
}
.footer_social
{
	margin-top: 41px;
}
.social ul li:not(:last-of-type)
{
	margin-right: 34px;
}
.social ul li a i
{
	font-size: 14px;
	color: #92a4b8;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.copyright_bar
{
	width: 100%;
	height: 44px;
	background: #181d2e;
	line-height: 44px;
	font-size: 12px;
	font-weight: 500;
	color: #464f59;
}

/*********************************
7. Contact
*********************************/

.contact
{
	background: #FFFFFF;
	padding-top: 88px;
	padding-bottom: 151px;
}
.contact_title
{
	font-size: 30px;
	font-weight: 600;
	color: #2c2c2c;
}
.contact_text
{
	margin-top: 49px;
}
.contact_logo
{
	position: relative;
	top: auto;
	left: auto;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
	line-height: 0.75;
	margin-top: 62px;
}
.contact_logo a
{
	color: #2c2c2c;
	font-weight: 800;
}
.contact_info
{
	max-width: 260px;
}
.contact_form
{
	margin-top: 50px;
}
.contact_row > div[class^='col']:not(:last-child)
{
	margin-bottom: 16px;
}
.contact_input
{
	width: 100%;
	height: 55px;
	border: none;
	outline: none;
	padding-left: 30px;
	background: #e6e7fd;
	border-radius: 30px;
}
.contact_textarea
{
	height: 211px;
	padding-top: 20px;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #92a4b8 !important;
}
.contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #92a4b8 !important;
}
.contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #92a4b8 !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #92a4b8 !important;
}
.contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #92a4b8 !important;
}
.contact_button
{
	position: relative;
	width: 300px;
	height: 55px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 50px;
	margin-left: 220px;
	overflow: hidden;
	z-index: 1;
}
.contact_button::before
{
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 200%;
	height: 100%;
	content: '';
	background: linear-gradient(to right, #b632fa, #487fee, #b632fa);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: -1;
}
.contact_button:hover::before
{
	left: 0;
}
.contact_button:active
{
	outline: none;
}

/*********************************
10. Error
*********************************/
legend {
margin-top:30px;
margin-left:30px;	
margin-bottom: -20px;	
color:#7F7F7F;	
height:70px
}

TABLE{
height:0px;
margin-left:30px;
width:400px;
}






.blog_post_image
{
	width: 100%;
	padding-bottom: 200px;
	margin-top:30px;
	margin-right:100px;
}
.blog_post_image img
{
	max-width: 100%;
}


